<div>
    <h3>This is my typescript app</h3>


    <a href="/typescriptDemo" target="_self" class="button">This page with self target</a>

    <a href="/mainPage" class="btn">View Main Page</a>

    <a href="/secondPage" class="button">View Second Page</a>

    <div ng-view></div>

    <h4>This is my footer</h4>
</div>