<div ng-app="typeScriptDemo" ng-cloak>
    <h3>This is my typescript app</h3>

    <a href="/mainPage">View Main Page</a>

    <a href="/secondPage">View Second Page</a>

    <div ng-view></div>

    <h4>This is my footer</h4>
</div>