<div>
    <h3>TypeScript Demo</h3>

    <a class="btn btn-default" href="/typescriptDemo" target="_self" role="button">Index with self target</a>
    <a class="btn btn-default" href="/ts/page1" role="button">Page One</a>
    <a class="btn btn-default" href="/ts/page2" role="button">Page Two</a>
    <a class="btn btn-default" href="/ts/page3" role="button">Page Three</a>

    <div ng-view></div>

</div>