@{
    Layout = null;
}

<h1>Javascript Controller</h1>

<button ng-click="vm.chiliSpicy()">Chili</button>
<button ng-click="vm.jalapenoSpicy()">Jalapeño</button>

<p>The food is {{vm.spice}} spicy!</p>