@{
    ViewBag.Title = "Home Page";
}
@using System.Threading.Tasks
@using AspNetDemo.Models
@model AspNetDemo.Models.HomeModel
@addTagHelper "*, aspnetv5"


<a class="btn btn-default" href="/typescriptDemo" target="_self" role="button">TypeScript Demo</a>

<h1>Diagnostics</h1>
    Environment: @Model.EnvironmentName
    <br/>
    Exception Handling: @Html.ActionLink("Throw an exception", "ThrowException",null,null, new {@class = "btn btn-primary" })
    <br />
    Logs: See file on your desktop

<h1>Tag Helpers from External Assembly</h1>
<form>
    <sc-form-group label-text="Name">
        <sc-textbox></sc-textbox>
    </sc-form-group>
    <sc-form-group label-text="Number">
        <sc-numberbox></sc-numberbox>
    </sc-form-group>
    <sc-form-group>
        <sc-form-group-label>
            <h3>A label with HTML</h3>
        </sc-form-group-label>
        <sc-dropdown></sc-dropdown>
    </sc-form-group>

    <sc-widget-box title="My Title">Yay for content!</sc-widget-box>
</form>


<h1>Tag Helpers from this Assembly</h1>
    We should see cats here:
    <br />

    <thumbnail src="http://lorempixel.com/400/400/cats"
               caption="A random cat picture"
               alt="Cats!">
    </thumbnail>
    <hr />
    We should see model fed company details here. Note that the list property type doesn't appear to work. Coloured red in IDE.
    <br />
    <company organisation="Model.Org1" manyorganisations="Model.OtherOrgs"></company>
    <hr />
    We should see statically set:
    <br />
    <company organisation="Organisation.WellKnownCompany"></company>
    <hr/>